<%= form_for :meteor, :url => :meteors do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :id %><br>
    <%= f.integer :id %>
  </p>

  <p>
    <%= f.label :nametype %><br>
    <%= f.text_area :nametype %>
  </p>

  <p>
    <%= f.label :recclass %><br>
    <%= f.text_area :recclass %>
  </p>

  <p>
    <%= f.label :mass %><br>
    <%= f.text_area :mass %>
  </p>

  <p>
    <%= f.label :fall %><br>
    <%= f.text_area :fall %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_area :year %>
  </p>

  <p>
    <%= f.label :reclat %><br>
    <%= f.text_area :reclat %>
  </p>

  <p>
    <%= f.label :reclong %><br>
    <%= f.text_area :reclong %>
  </p>

  <p>
    <%= f.label :geolocation %><br>
    <%= f.text_area :geolocation %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
